__pycache__
/videos
/italian_videos
/site_mirror
/sources
*.pyc
*.bak
quickstart.md
db (un'altra copia)/
docs
/node_modules
public/db/other.db
public/db/ytp.db
public/db (copia/)

public/db/comments.db
public/db/ytpoopers.db
public/db (copia)/collabs.db
public/db (copia)/comments.db
public/db (copia)/other.db
public/db (copia)/ytp.db
